# SPDX-License-Identifier: Apache-2.0

config SOC_FLASH_CC32XX
	bool "TI SimpleLink CC32XX flash controller driver"
	default y
	depends on DT_HAS_TI_CC32XX_FLASH_CONTROLLER_ENABLED
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_DRIVER_ENABLED
	select MPU_ALLOW_FLASH_WRITE if ARM_MPU
	help
	  Enables TI SimpleLink CC32XX flash controller driver.
